pipeline/GithubToBlob.json
{
	"name": "GithubToBlob",
	"properties": {
		"activities": [
			{
				"name": "Loop_Activity",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GitDataMovement_copy1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GitDataMovement",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GitDataset",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BlobDataset",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().FolderName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().FileName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Validation",
				"description": "Validating a file exists with a name title",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "Var_GithubMetatadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Validation_file",
						"type": "DatasetReference",
						"parameters": {
							"TitleFile": {
								"value": "netflix_titles.csv",
								"type": "Expression"
							}
						}
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "GithubMetadat",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://github.com/Praveenrpk123/DEProject"
				}
			},
			{
				"name": "Var_GithubMetatadata",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GithubMetadat",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "GitVar",
					"value": {
						"value": "@activity('GithubMetadat').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_array": {
				"type": "array",
				"defaultValue": [
					{
						"FolderName": "netflix_cast",
						"FileName": "netflix_cast.csv"
					},
					{
						"FolderName": "netflix_category",
						"FileName": "netflix_category.csv"
					},
					{
						"FolderName": "netflix_countries",
						"FileName": "netflix_countries.csv"
					},
					{
						"FolderName": "netflix_directors",
						"FileName": "netflix_directors.csv"
					}
				]
			}
		},
		"variables": {
			"GitVar": {
				"type": "String"
			},
			"GitVari": {
				"type": "Array"
			},
			"var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}